In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
url=r"C:\Users\Divyansh\Desktop\udemy machine learning\codes\multiple linear regression\hiring\hiring.csv"
dataset=pd.read_csv(url)
dataset.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [3]:
dataset.experience=dataset.experience.fillna("zero")

In [8]:
import math
median_test_score=math.floor(dataset["test_score(out of 10)"].median())
median_test_score
dataset["test_score(out of 10)"]=dataset["test_score(out of 10)"].fillna(median_test_score)

In [9]:
print(dataset.isna())

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       False                  False                       False      False
1       False                  False                       False      False
2       False                  False                       False      False
3       False                  False                       False      False
4       False                  False                       False      False
5       False                  False                       False      False
6       False                  False                       False      False
7       False                  False                       False      False

In [28]:
print (len(dataset["experience"]))

8

In [29]:
from word2number import w2n
for i in range(0,len(dataset["experience"])):
    dataset["experience"][i]=w2n.word_to_num(dataset["experience"][i])

C:\Users\Divyansh\AppData\Local\Temp\ipykernel_18192\853599453.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["experience"][i]=w2n.word_to_num(dataset["experience"][i])

In [31]:
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [32]:
dataset.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000

In [33]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X,y)

LinearRegression()

In [34]:
regressor.predict([[0,8,8]])

array([50144.83260553])